.pagination {
  margin-top: 10px;
  display: flex;
  gap: 2px;
}

.pagination button {
  display: inline-block;
  border: 1px black solid;
  border-radius: 2px;
  height: 30px;
  cursor: pointer;
}

.pagination button:active {
  background-color: lightgrey;
}

.buttons {
  display: flex;
  gap: 2px;
}
